$green: #54b192;
$gray: #3f3d56;
$red:#f75842;
$bg: #2E343B;
$bg2: #422890;
$bg3: #242526;
$primary-color:#6c63ff;
$smooth-2: all 400ms ease;
$smooth: all 0.3s ease-in;
// ==============
@at-root{
  $primary-color:#6c63ff;
}
*,
*:before,

*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $bg;
}
.dark--theme{
    $bg:#fff;
    $primary-color:red;
}

img {
  max-width: 100%;
  width: 100%;
}
a{
    text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
ul{
    list-style: none;
}
button {
    
  text-align: center;
  color: #fff;
  background-color: $gray;
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: $smooth;
}


// ==================================================
header{
    position: absolute;
    position: fixed;
    background-color: $bg3 ;
    width: 100%;
    height: 10vh;
    z-index: 1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    // border-bottom: #ccc 1px solid;
    .navbar__logo img{
        width: 57px;
        height: 57px;
        object-fit: cover;
    }
    .navbar__list{
        list-style: none;
        display: flex;
        align-items: center;
        
        // background-color: #54b192;
        a{
            color: #fff;
            font-weight: 300;
            transition: $smooth;
            &:hover{
                color: $primary-color;
                transition: $smooth;
            }
        }
        .navbar__list--item{
            margin: 30px 55px;
        }
    }
    .navbar__mode{
        text-align: center;
        .switch{
            position: relative;
            cursor: pointer;
            width: 7rem;
            height: 3rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 auto;
            overflow: hidden;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            background: #000;
            border-radius: 10rem;
            transition: background-color 0.25s linear;
            .fa-moon {
                color: #f1c40f;
                font-size: 1.5rem;
            }
              
            .fa-sun {
                color: #f39c12;
                font-size: 1.5rem;
            }
            &::after{
                content: "";
                position: absolute;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: #fff;
                // top: 5px;
                left: 0;
                transition: background-color 0.25s linear, transform 0.25s linear;
            }
        }
        .switch-input{
            
            display: none;
            &:checked + .switch{
                background-color: #6a5af9;
                &::after{
                    transform: translateX(4rem);
                    background-color: white;
                }
            }
        }
    }
}


// ===========================================
#banner {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;

    .banner__img{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 580px;
        width: 50%;
        
    }
    .banner__heading{
        text-align: initial;
        z-index: 1;
        padding-top: 10%;
        height: 580px;
        width: 50%;
        h1{
            color: $primary-color;
            font-size: 4rem;
            margin-bottom: 1rem;
        }
        p{
            font-weight: 300;
            margin-bottom: 1.5em;
            line-height: 2rem;
            color: #fff;
        }
        .banner__heading--item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .banner__btn {
                margin-top: 5rem;
                margin-right: 8rem;
                font-size: 1.5rem;
                transform: translateY(-2rem);
                background-color: $green;
                &:hover{
                    background-color: $gray;
                    color: $primary-color;
                    transition: $smooth;
                }
            }
            img{
                width: 155px;
                height: 200px;
                animation: move 2s alternate infinite ;
            }
            @keyframes move {
                from{
                    transform: translateY(0);
                }
                to{
                    transform: translateY(2rem);
                }
            }
        }
    }
}


// ==========================================================
#play{
    // margin: 2rem 0;
    width: 100%;
    height: 100vh;
    // background-color: $green;
    color: #fff;
    text-align: center;
    font-size: 5rem;
    padding: 5rem;;
    
}


// ==========================================================
#team{
    width: 100%;
    height: 100%;
    padding: 2rem;
    .container{
        border-top: #ccc 1px solid;
        display: flex;
        align-self: center;
        justify-content: end;
        height: 60vh;
        gap: 10%;
        h2{
            margin-top: 13%;
            margin-left: 5%;
            text-align: center;
            width: 15%;
            font-size: 2.5rem;
            color: $primary-color;
        }
        .team{
            margin-top: 3rem;
            width: 70%;
            height: 50vh;
            display: flex;
            align-self: end;
            gap: 15%;
            
            
            .team__member{
                width: 40%;
                height: 50vh;
                position: relative;
                background: $bg2;
                padding: 1rem;
                border:transparent 1px solid;
                border-radius: 3rem;
                overflow: hidden;
                &:hover{
                    // background: transparent;
                    border-color: $primary-color; 
                    transition: $smooth-2;
                    &:hover{
                        .team__member--img img{
                            filter: saturate(1);
                        }
                    }
                }
                .team__member--img {
                    top: 0;
                    width: 100%;
                    height: 70%;
                    img{
                        transform: translateX(10%);
                        width: 80%;
                        border-radius: 50%;
                        object-fit: cover;
                        filter: saturate(0);
                    }
                }

                .team__member--info *{
                    height: 30%;
                    margin-top: 1.5rem;
                    text-align: center;
                    color: #fff;
                }
                .team__member--social{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    border-radius: 1rem 0 0 1rem;
                    border: -2rem 0 2rem rgba(0,0,0,0.3);
                    transform: translateY(-50%);
                    right: -100%;
                    a{
                        font-size: 2rem;
                        &:nth-child(2){
                            border-top:1px solid #ccc ;
                            border-bottom:1px solid #ccc ;
                        }
                        padding: 1rem;
                        // color: #fff;
                        .fa-facebook{
                            color: #3b5999;
                    
                        }
                        .fa-instagram{
                            color: #e4405f;
                        }
                        .fa-twitter{
                            color: #55acee;
                        }
                        .social-share-icon {
                            width: 40px;
                            height: 40px;
                            // background-color: white;
                            border-radius: inherit;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 2rem;
                        }
                        
                    }
                }
                &:hover{
                    .team__member--social{
                        right: 0;
                        transition: $smooth-2;
                    }
                }
                
            }
        }
    }
    
}

// =================================================
#contact{
    .contact__container{
        max-width: 1200px;
        width: 100%;
        background-color: $bg2;
        padding: 5rem;
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 4rem;
        margin: 5rem auto;
        border-radius: 1rem;
        .contact__aside{
            background-color: $primary-color;
            padding: 3rem;
            border-radius: 1rem;
            position: relative;
            bottom: 1rem;
            .aside__img{
                width: 12rem;
                margin-bottom: 2rem;
            }
            h2{
                font-weight: 500;
                font-size: 2rem;
                text-align: left;
                margin-bottom: 1rem;
                color: #fff;
            }
            p{
                font-weight: 300;
                font-size: 1rem;
                margin-bottom: 2rem;
                color: #fff;
            }
            .contact__detail{
                li{
                    font-size: 1rem;
                    font-weight: 300;
                    color: #fff;
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    margin-bottom: 1rem;
                }
            }
            .contact__social{
                display: flex;
                gap: 1rem;
                margin-top: 3rem;
                a{
                    background-color: #fff;
                    padding: 0.5rem;
                    font-size: 1.5rem;
                    border-radius: 50%;
                    transition: $smooth-2;
                    .fa-facebook{
                        color: #3b5999;
                
                    }
                    .fa-instagram{
                        color: #e4405f;
                    }
                    .fa-twitter{
                        color: #55acee;
                    }
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
        }
        .contact__form{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-right: 1rem;
            position: relative;
            textarea, input{
                padding: 1.5rem;
                display: block;
                width: 100%;
                font-size: 1.5rem;
                border: 1px solid $primary-color;
                border-radius: 4px;
                background-color: transparent;
                color: #fff;
                resize: none;
            }
            label{
                display: inline-block;
                font-weight: 600;
                cursor: pointer;
                position: absolute;
                left: 1rem;
                background-color: $bg2;
                font-size: 1rem;
                transform: translateY(-50%);
                color: $primary-color;
            }
            .submit__btn{
                width: max-content;
                cursor: pointer;
                padding: 1rem 2rem;
                margin-top: 1rem;
                border-radius: 4px;
                background-color: #f75842;
                border: 1px solid transparent;
                font-weight: 500;
                transition: $smooth-2;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                transform-style: preserve-3d;
                transition: all 0.2s linear;
                &:hover{
                    background-color: #f75842;
                    transform: rotateY(-15deg);
                }
            }
        }
    }
}


// =================================
footer{
    background-color: $bg3;
    color: #fff;
    padding: 2rem;
    font-size: 1rem;
}
.footer__container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: space-between;
    h4{
        color: #fff;
        margin: 0 0 1rem;
    }
    ul li{
        margin-bottom: 1rem;
        a{
            color: #fff;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    p{
        margin: 1rem 0;
    }
    .footer__1{
        width: 40%;
    }
    .footer__3{
        .footer__socical{
            display: flex;
            gap: 1rem;
            font-size: 2rem;
            margin-top: 1rem;
            color: #fff;
            .fa-facebook{
                color: #3b5999;
        
            }
            .fa-instagram{
                color: #e4405f;
            }
            .fa-twitter{
                color: #55acee;
            }
        }
    }
}
